doctype html
html
  head
    title Register User
  body
    h1 Register

    //- Display flash messages
    if success_messages.length
      div.alert.alert-success
        each msg in success_messages
          p= msg

    if error_messages.length
      div.alert.alert-danger
        each msg in error_messages
          p= msg
          
    form(action="/users/register" method="POST")
      div
        label(for="fullname") Full Name:
        input(type="text" name="fullname" id="fullname" placeholder="Enter your full name" required)
      div
        label(for="email") Email:
        input(type="email" name="email" id="email" placeholder="Enter your email" required)
      div
        label(for="password") Password:
        input(type="password" name="password" id="password" placeholder="Enter your password" required)
      div
        button(type="submit") Register
